@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .top-18 {
    top: 70px !important;
  }
  .transform-custom {
    transform-origin: top;
    transform: perspective(999px) rotateX(-30deg) translateZ(0px)
      translate3d(0px, 0px, 5px) !important;
    visibility: hidden;
    opacity: 0;
  }
  .transform-undo {
    transform: perspective(999px) rotateX(0deg) translateZ(0px)
      translate3d(0px, 0px, 5px) !important;
    visibility: visible;
    opacity: 1;
  }
}

body {
  font-family: 'Libre Baskerville', serif;
}
h1,
h2,
h3 {
  font-family: 'Merriweather Sans', sans-serif;
}
a,
button,
label {
  font-family: 'Montserrat', sans-serif;
}

.imageSpin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
