@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .social-icon {
    @apply flex justify-center items-center text-3xl p-2 w-14 h-14 mb-5 bg-slate-100 rounded-md hover:bg-slate-200 transition;
  }
  .active {
    @apply text-[#981E4F] bg-white;
  }
  .skill {
    @apply w-40 h-40 relative;
  }
  .outer {
    @apply w-40 h-40 border rounded-full p-5 shadow-outerShadow;
  }
  .inner {
    @apply w-30 h-30 border rounded-full shadow-innerShadow flex justify-center items-center;
  }
  .circle {
    @apply fill-none stroke-[url(#GradientColor)] stroke-[20px];
  }
}

@layer utilities {
  .top-18 {
    top: 70px !important;
  }
  .transform-custom {
    transform-origin: top;
    transform: perspective(999px) rotateX(-30deg) translateZ(0px)
      translate3d(0px, 0px, 5px) !important;
    visibility: hidden;
    opacity: 0;
  }
  .transform-undo {
    transform: perspective(999px) rotateX(0deg) translateZ(0px)
      translate3d(0px, 0px, 5px) !important;
    visibility: visible;
    opacity: 1;
  }
  .h-30 {
    height: 120px;
  }
  .w-30 {
    width: 120px;
  }
}

body {
  font-family: 'Libre Baskerville', serif;
}
h1,
h2,
h3 {
  font-family: 'Merriweather Sans', sans-serif;
}
a,
button,
label {
  font-family: 'Montserrat', sans-serif;
}

.imageSpin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

:root {
  --my-statistic-number: 450;
}

.popup {
  animation: popup 0.3s linear 1;
}
.popupModal {
  animation: popup 0.3s linear 1;
}

@keyframes popup {
  0% {
    visibility: hidden;
    opacity: 0;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0.6);
  }
  50% {
    visibility: visible;
    opacity: 1;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes popout {
  0% {
    visibility: visible;
    opacity: 1;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    visibility: visible;
    opacity: 1;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0.6);
  }
}

.active {
  background-color: #f1f5f9 !important;
}
